{% extends 'generic.html' %}
{% load static %}
{% block content %}
<!-- Bootstrap CSS-->
<section>
    <div class="container-fluid">
    <!-- Page Header-->
    <header> 
    <h1 class="h3 display">Data Table            </h1>
    </header>
    <div class="card">
    <div class="card-header">
        <h4>Data Table</h4>
    </div>
    <div class="card-body">
        <div class="row">
        <div class="col-lg-6">
            {% comment %} <p>DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table.</p>
            <p>Check out more at <a href="https://datatables.net/">https://datatables.net/</a>.</p> {% endcomment %}
        </div>
        <div class="col-lg-6">
            {% comment %} <p>How easy is it to use DataTables? Take a peek at the code below: a single function call to initialise the table is all it takes!</p>
            <pre><code>$(document).ready(function(){$('#myTable').DataTable();});</code></pre> {% endcomment %}
        </div>
        </div>
              <div class="table-responsive">
                <table id="datatable1" style="width: 100%;" class="table">
                  <thead>
                    <tr>
                        <th>Type</th>
                        <th>Social_network</th>
                        <th>subscription_type</th>
                        <th>state</th>
                        <th>creditos</th>
                        <th>Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="javascript:void(0)" class="text-muted">Nielsen Cobb</a></td>
                      <td>Memora</td>
                      <td>nielsencobb@memora.com</td>
                      <td>+1 (851) 552-2735</td>
                      <td>Graniteville</td>
                      <td>
                        <a href="#"> <i class="fa fa-edit"></a>
                        <a href="#"> <i class="fa fa-address-book"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
    </div>
    </div>
</div>
</section>
    
{% endblock content %}
